{{ $src := .Destination }}
{{ $alt := .PlainText | safeHTML }}
{{ $tag := index (first 1 (after 1 (split $src "#"))) 0 }}
{{ $caption := $alt }}

{{- if eq $tag "figure" -}}
   {{ $.Page.Scratch.Add "imgcount" 1 }}
   {{ $count := ($.Page.Scratch.Get "imgcount") | string }}
   <div class="image-container">
       <img src="{{ .Page.Site.BaseURL }}/res/{{ $.Page.File.Dir }}{{ $src }}" width="" height="" alt="{{ $caption }}" />
       <p>
           <span><b>Figure {{ $count }}{{ if $caption }}:{{ end }}</b> </span>
           <span>{{ $caption }}</span>
       </p>
   </div>
   
{{- else if eq $tag "drawio" -}}
    
   {{ $.Page.Scratch.Add "imgcount" 1 }}
   {{ $count := ($.Page.Scratch.Get "imgcount") | string }}

   {{ $temp := (index (first 1 (after 1 (split $alt "title="))) 0) }}
   {{ $diagramtitle := replace (index (first 1 (split $temp "#")) 0) "_" " " }}

   {{ $url_encoded_data := $alt }}

   <div class="image-container">
       <img src="{{ .Page.Site.BaseURL }}/res/{{ $.Page.File.Dir }}{{ $src }}" width="" height="" alt="{{ $caption }}" />
       <p>
          <span><b>Figure {{ $count }}{{ if $caption }}:{{ end }}</b> </span>
          <span>{{ $diagramtitle }}</span>
       </p>
       <p>
           <button class="drawio-link" onclick="callSetDrawIO(event, parent, '{{ $url_encoded_data }}', this)" href="#">
               <svg class="bi" width="28" height="28" style="margin-left: 2px">
                   <use xlink:href="#icon_drawio"></use>
                </svg>
                <span>
                    Edit in DrawIO
                </span>
            </button>
        </p>

        <div class="input-row wide">
           <label for="drawio-input">Paste URL-encoded Diagram here:</label>
           <textarea id="drawio-input" name="drawio-input" rows="4" cols="50" class="input drawio-input"></textarea>
        </div>

   </div>

{{- else -}}
   <img src="{{ .Page.Site.BaseURL }}/res/{{ $.Page.File.Dir }}{{ $src }}" width="" height="" alt="{{ $alt }}" />
{{- end -}}
