.input-group {
  display: block;
  background-color: var(--background-gray);
  padding: 15px 0px;
  margin: 15px 0 auto;
  border-radius: 4px;
}

.input-group .input-row {
  display: inline-flex;
  align-items: left;
  width: 100%;
}


.input-group label {
  display: inline-block;
  width: 20%;
  margin: 15px 0 auto;
  padding-right: 20px;
}

.input-group input, .input-group textarea, .input-group select {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  padding: 15px;
  transition: border-color;
  border-radius: 0.1875rem;
  font-family: "Rubik", sans-serif;
  color: var(--dark);
  text-transform: none;
  font-weight: 300;
  background-color: var(--background-gray-color);
  text-align: left;
  border: 1px solid #d5d5d5;
  width: auto;
  display: inline-block;
  flex-grow: 1;
  margin-bottom: 0.85rem;
  transition: all 250ms;
}

/* two rows */

.input-group .input-row.wide {
  display: grid;
  align-items: left;
  width: 100%;
}

.input-group .input-row.uploader-element.wide {
  display: table;
}
.input-group .input-row.uploader-element.wide #upload-submit {
  margin: 7px 0px 14px 0px;
}
.input-group .input-row.uploader-element.wide #file {
  align-items: left;
  width: auto;
  margin-right: 10px;
}
.input-group .input-row.uploader-element.wide #attachment-error {
  display: none !important;
}
/* .input-group .input-row.wide button {
  display: grid;
  align-items: left;
  width: 40%;
} */

.input-group .wide label {
  display: inline-block;
  width: 100%;
  margin: 15px 0 auto;
  padding-right: 20px;
  padding-bottom: 5px;
}

/* ------------------------------------------------------------------------------------------------- */

.input-group input:focus, .input-group textarea:focus, .input-group select:focus {
  outline: none;
  border: 1px solid var(--dark);
}
.input-group select {
  cursor: pointer;
}
.input-group select option {
  background-color: var(--background-gray);
}

/* .input-group h4 {
  margin: 1.0em 0 0 0;
} */

input.error, textarea.error, select.error {
  border: 1px solid var(--red-mid) !important;
  background-color: #eed9df;
  clear: both;
}
label.error {
  color: var(--red-mid);
  display: block;
  width: auto;
  padding: 0 0 0 10px;
  margin-top: 0px;
}

fieldset {
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

button.add-input-row {
  width: 100%;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  color: var(--primary-color);
  border-radius: 4px;
  background: none;
  border: 1px solid var(--primary-color);
  display: flex;
  justify-content: center;
  align-content: center;
  height: fit-content;
  min-height: 50px;
  transition: 200ms ease;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
}

button.add-input-row:hover {
  background-color: color-mix(in srgb, var(--primary-color) 7%, #ffffff);
}

button.add-input-row span {
  margin: auto 4px;
  padding: 7px 0;
}


.add-input-row svg {
  margin-top: 4px;
  height: 30px;
}

.closer {
  float: right;
  cursor: pointer;
  color: var(--light-2);
}
.closer:hover {
  color: var(--primary-color);
}

.closer svg {
  height: 20px;
  width: 20px;
  transition: all 250ms;
}

button.btn-submit-form {
  display: inline-block;
  color: #fff;
  background-color: var(--green-mid);
  padding: 16px 22px;
  border-radius: 4px;
  transition: 200ms ease;
  font-weight: 600;
  margin: 10px 0;
}

button.btn-submit-form:hover {
  background-color:  var(--green-light);
}


button.gpdf {
  display: inline-block;
  color: #7e7e85;
  padding: 16px 22px;
  border-radius: 4px;
  transition: 200ms ease;
  font-weight: 600;
  width: 100%;
  background-color: #e9e9ed;
  margin: 50px 0px;
}
button.gpdf svg.bi {
  fill: #7e7e85;
  vertical-align: middle;
  display: inline-block;
  margin-top: -2px;
  transition: 200ms ease;
}

button.gpdf:hover, button.gpdf.active {
  color: white;
  background-color:  var(--primary-color);
}

button.gpdf:hover svg.bi, button.gpdf.active svg.bi {
  fill: white;
}

button.btn-submit-form svg.bi {
  vertical-align: middle;
  display: inline-block;
  fill: #fff;
  margin-top: -2px;
}

#upload-submit {
  margin: 0px 0px 14px 10px;
  background-color: var(--primary-color);
}

.required_marker {
  font-weight: 300;
  font-size: 75%;
}

.btn_wrapper_horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button.drawio-link {
  margin: 10px;
  display: flex !important;
  align-content: center;
  justify-content: center;
  width: fit-content;
  padding: 10px 24px;
  border-radius: 4px;
  background-color: #f19829;
  color: white;
  margin-bottom: 24px;
  transition: all ease 400ms;
  text-decoration: none;
}
button.drawio-reset {
  background-color: #9999a1 !important;
}
button.drawio-link:hover {
  text-decoration: none;
  background-color: #ce8224;
  color: white;
}
button.drawio-reset:hover {
  background-color: #7e7e85 !important;
}
button.drawio-link span {
  text-decoration: none;
  margin: auto 10px;
}
button.drawio-link svg {
  fill: white;
  padding-right: 5px;
  margin: auto 5px !important;
  display: inline-block;
}

.input-group h1,
.input-group h2,
.input-group h3,
.input-group h4,
.input-group h5,
.input-group h6 {
  padding: 1.0em 0 2em 0;
}

.input-group p {
  padding-top: 0px;
  margin-top: 0px;
}