{{ $file := .Get "file" }} 

<div id="pdf-render"></div>

<script type="text/javascript">
  
  const url = "{{ $file }}";

  let pdfDoc = null,
  pageNum = 1,
  numPages = 0,
  pageIsRendering = false,
  pageNumIsPending = null;

  const scale = 1.5
  //canvas = document.querySelector("#pdf-render"),
  //ctx = canvas.getContext("2d");

  // Render page
  const renderPage = num => {
    pageIsRendering = true;

    pdfDoc.getPage(num).then(page => {

      // set scale
      const viewport = page.getViewport({ scale })
      
      canvas.height = viewport.height
      canvas.width = viewport.width
      
      const renderCtx = {
        canvasContext: ctx,
        viewport
      }

      page.render(renderCtx).promise.then(() => {
        pageIsRendering = false;
        
        if(pageNumIsPending !== null) {
          renderPage(pageNumIsPending);
          pageNumIsPending = null;
        }
      })
    })
  }

  // Get document
  pdfjsLib.getDocument(url).promise.then(pdfDoc_ => {
    pdfDoc = pdfDoc_;
    numPages = pdfDoc.numPages;
    pdfDoc.getPage(1).then( handlePages );    
  })

  function handlePages(page)
{
    //This gives us the page's dimensions at full scale
    var viewport = page.getViewport({ scale });

    //We'll create a canvas for each page to draw it on
    var canvas = document.createElement( "canvas" );
    canvas.style.display = "block";
    canvas.height = viewport.height;
    canvas.width = viewport.width;
    
    var context = canvas.getContext('2d');
    
    const renderCtx = {
      canvasContext: context,
      viewport
    }

    //Draw it on the canvas
    page.render(renderCtx).promise.then(() => {
      pageIsRendering = false;
      
      if(pageNumIsPending !== null) {
        renderPage(pageNumIsPending);
        pageNumIsPending = null;
      }
    });

    //Add it to the web page
    //document.body.appendChild( canvas );
    renderAnker = document.querySelector("#pdf-render")
    renderAnker.appendChild( canvas );

    //Move to next page
    pageNum++;
    if ( pdfDoc !== null && pageNum <= numPages )
    {
        pdfDoc.getPage( pageNum ).then( handlePages );
    }
}

</script>


