{{ $file := .Get "file" }} 

<object id="temp" data="{{ $file }}#view=fitW" type="application/pdf">
  <iframe src="{{ $file }}#view=fitW" style="border: none;">
  This browser does not support PDFs. Please download the PDF to view it: 
  <a href="{{ $file }}">Download PDF</a>
  </iframe>
</object>

<script>
  let pdfDoc = null,
  numPages = 0

  pdfjsLib.getDocument("{{ $file }}").promise.then(pdfDoc_ => {
    pdfDoc = pdfDoc_;
    numPages = pdfDoc.numPages;
  })

  $("#temp").css({
    width : 940 + "px",
    height : 200 * numPages +'px',
  });

</script>

<div id="adobe-dc-view" style="width: 800px;"></div>
<script src="https://documentcloud.adobe.com/view-sdk/main.js"></script>
<script type="text/javascript">
   document.addEventListener("adobe_dc_view_sdk.ready", function(){
     var adobeDCView = new AdobeDC.View({clientId: "b5376e4947df455f96b84c8483057928", divId: "adobe-dc-view"});
   adobeDCView.previewFile({
     content:{location: {url: "{{ $file }}"}},
     metaData:{fileName: "{{ $file }}"}
 }, {embedMode: "IN_LINE"});
 });
</script>