{{ $input_wide := .Get "wide" | default false }}
{{ $input_instructor :=  (replace (.Get "instructor") "</br>" "&#10;")}}
{{ $input_required := .Get "required" | default false }}

<div class="risk-wrapper">

<table class="risk-table">
  <tr>
    <th></th>
    <th></th>
    <th class="risk-header-horizontal" colspan="5" > impact </th>
  </tr>
  <tr>
    <th></th>
    <th></th>
    <th>Remote</th>
    <th>Unlikely</th>
    <th>Possible</th>
    <th>Likely</th>
    <th>Certain</th>
  </tr>
  <tr>
    <th class="risk-header-vertical" rowspan="5">
      <span>
        likelihood
      </span>
    </th>
    <th>Trivial</th>
    <td class="very-low">1</td>
    <td class="very-low">2</td>
    <td class="low">3</td>
    <td class="low">4</td>
    <td class="medium">5</td>
  </tr>
  <tr>
    <th>Minor</th>
    <td class="very-low">2</td>
    <td class="low">4</td>
    <td class="medium">6</td>
    <td class="medium">8</td>
    <td class="high">10</td>
  </tr>
  <tr>
    <th>Moderate</th>
    <td class="low">3</td>
    <td class="medium">6</td>
    <td class="medium">9</td>
    <td class="high">12</td>
    <td class="very-high">15</td>
  </tr>
  <tr>
    <th>Major</th>
    <td class="low">4</td>
    <td class="medium">8</td>
    <td class="high">12</td>
    <td class="very-high">16</td>
    <td class="very-high">20</td>
  </tr>
  <tr>
    <th>Critical</th>
    <td class="medium">5</td>
    <td class="high">10</td>
    <td class="very-high">15</td>
    <td class="very-high">20</td>
    <td class="very-high">25</td>
  </tr>
</table>

<input name="Risk Level" class="input risk-value" type="hidden">

<label for="Risk Rationale">
  <div>
    Risk Rationale{{ if $input_required }} <span class="required_marker">(required)</span>{{ end }}
  </div>
</label>

<textarea name="Risk Rationale" rows="4" cols="50" class="input {{ if $input_required }}required{{ end }} {{if and (.Site.Params.instructorNotes) ($input_instructor)}} instructor-notes {{ end }}">{{if and (.Site.Params.instructorNotes) ($input_instructor)}}{{ $input_instructor }}{{end}}</textarea>

</div>
