{{ $input_label := .Get "label" }} 
{{ $input_name := substr (replace $input_label " " "_") 0 }}
{{ $input_required := .Get "required" | default false }}
{{ $input_wide := .Get "wide" | default false }}
{{ $input_placeholder := .Get "placeholder" | default "" }}

<div class="input-row {{ if $input_wide }}wide{{ end }}">
  <label for="{{ $input_name }}">{{ $input_label }}{{ if $input_required }} *{{ end }}</label>
  <input type="text" id="{{ $input_name }}" name="{{ $input_name }}" placeholder="{{ $input_placeholder }}" class="{{ if $input_required }}required{{ end }}">
</div>