{{ $input_label := .Get "label" }} 
{{ $input_name := substr (replace $input_label " " "_") 0 }}
{{ $input_options := split (.Get "options" ) ","}} 
{{ $input_required := .Get "required" | default false }}


<div class="input-row">
  <label for="{{ $input_name }}">{{ $input_label }}{{ if $input_required }} *{{ end }}</label>
  <select name="{{ $input_name }}" id="{{ $input_name }}" class="{{ if $input_required }}required{{ end }}">
    {{ range $input_options }}<option value="{{ . }}">{{ . }}</option>{{ end }}
  </select>
</div>


