{{ $group_title := .Get "title" | default false }}
{{ $group_extendable := .Get "extendable" | default false }}
{{ $group_minInputs := .Get "min" | default 0 }}

<fieldset extendable="{{ $group_extendable }}" title='{{ $group_title | lower | replaceRE "[^0-9a-z]" "_" | replaceRE "-+" "_" }}'>
<div id="{{ if $group_extendable }}inputgroup_{{ else }}inputgroup{{end}}" class="input-group default-inputs">
<input type="hidden" name="minInputs" value="{{ $group_minInputs }}">
  
{{ if $group_title }}
<h4>{{ $group_title }}</h4>
{{ end }}

<div id="fieldset-error"></div>
{{ .Inner }}
</div>

{{ if $group_extendable }}
<div id="additionalInput"></div>

<button type="button" class="add-input-row" value="">  
  <svg class="bi" width="50%" height="50%">
    <use xlink:href="#add"></use>
  </svg>
  add row
</button>
{{ end }}
</fieldset>