{{ $src := .Get "src" }}
{{ $.Page.Scratch.Add "local_video_id" 1 }} 
{{ $local_video_id := ($.Page.Scratch.Get "local_video_id") }}

<div class="video-container">
  <div id="player-wrapper-{{ $local_video_id }}"></div>
</div>

<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@clappr/player@latest/dist/clappr.min.js"
></script>

<script>
  var playerElement = document.getElementById("player-wrapper-{{ $local_video_id }}");

  var player = new Clappr.Player({
    source: {{ $src }},
    mute: false,
    height: 560,
    width: "100%"
  });

  player.attachTo(playerElement);
</script>
